<!DOCTYPE html>
<html>
  <head>
    <title>Geekbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container main">

     <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
        </div>
      </div>

  </body>
</html>
